In [43]:
import pandas as pd
data=pd.read_csv("income.csv")

In [44]:
# Encode the 'income' column to numerical values
data['income'] = data['income'].map({'<=50K': 0, '>50K': 1})

# Display the value counts to confirm the encoding
display(data['income'].value_counts())

income
0.0    24720
1.0     7841
Name: count, dtype: int64

In [45]:
# Separate features (X) and target variable (y)
X = data.drop('income', axis=1)
y = data['income']

In [46]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

print("X_train head after gender encoding and split:")
display(X_train.head())
print("\nX_test head after gender encoding and split:")
display(X_test.head())

X_train head after gender encoding and split:

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
216,50,Private,313321,Assoc-acdm,12,Divorced,Sales,Not-in-family,White,Female,0,0,40,United-States
23617,24,Private,187551,Some-college,10,Never-married,Adm-clerical,Own-child,Black,Female,0,0,20,United-States
7914,49,Federal-gov,94754,Masters,14,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
11599,22,Private,300871,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States
23434,32,Private,251701,Assoc-acdm,12,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,?

X_test head after gender encoding and split:

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
31252,49,Private,277946,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States
47679,23,Self-emp-not-inc,149704,10th,6,Never-married,Sales,Own-child,White,Female,0,0,40,United-States
46705,53,Self-emp-inc,190762,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States
19061,19,Private,125938,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,40,El-Salvador
45865,36,Local-gov,322770,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,1887,40,Jamaica

In [47]:
X_train['age'].unique()

array([50, 24, 49, 22, 32, 42, 31, 72, 47, 46, 64, 36, 17, 44, 58, 23, 41,
       26, 56, 38, 37, 61, 74, 52, 55, 34, 51, 21, 35, 39, 54, 43, 20, 19,
       40, 48, 33, 57, 27, 29, 77, 53, 45, 30, 25, 28, 63, 80, 60, 65, 18,
       59, 62, 66, 79, 76, 73, 90, 69, 75, 78, 67, 83, 70, 68, 71, 81, 84,
       82, 88, 87, 85, 89])

In [48]:
X_train['workclass'].isnull().sum()

np.int64(733)

In [49]:
X_train['workclass'].unique()

array(['Private', 'Federal-gov', 'Local-gov', 'Self-emp-inc', 'State-gov',
       'Self-emp-not-inc', '?', nan, 'Never-worked', 'Without-pay'],
      dtype=object)

In [50]:
## since ? has 3000 rows so we cant directly drop it, replace it with "unknown"
X_train['workclass'] = X_train['workclass'].replace('?', "unknown")
X_test['workclass'] = X_test['workclass'].replace('?', "unknown")

In [51]:
X_train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
216,50,Private,313321,Assoc-acdm,12,Divorced,Sales,Not-in-family,White,Female,0,0,40,United-States
23617,24,Private,187551,Some-college,10,Never-married,Adm-clerical,Own-child,Black,Female,0,0,20,United-States
7914,49,Federal-gov,94754,Masters,14,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
11599,22,Private,300871,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States
23434,32,Private,251701,Assoc-acdm,12,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13221,47,Self-emp-not-inc,166894,Some-college,10,Divorced,Prof-specialty,Unmarried,Black,Female,0,0,40,United-States
46614,40,State-gov,132125,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States
26718,22,Private,176321,7th-8th,4,Never-married,Other-service,Unmarried,White,Female,0,0,40,Mexico
16694,55,Private,213615,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
19482,46,Self-emp-not-inc,231347,Some-college,10,Separated,Prof-specialty,Not-in-family,White,Male,0,0,20,United-States

In [52]:
## one hot encode the workclass column
from sklearn.preprocessing import OneHotEncoder

# Initialize OneHotEncoder
ohe_workclass_train_test = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

try:
    X_train
except NameError:
    from sklearn.model_selection import train_test_split
    # If X/y aren't available, derive from the loaded 'data' DataFrame
    if 'data' in globals():
        X = data.drop('income', axis=1)
        y = data['income']
    else:
        raise NameError('Neither X_train nor data are available in the notebook scope. Run the data preparation cells first.')
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
    print('Note: Performed train_test_split to create X_train/X_test/y_train/y_test (random_state=42)')

# Now report missing values in workclass (if the column exists)
if 'workclass' in X_train.columns:
    print('Missing values in X_train["workclass"]:', X_train['workclass'].isnull().sum())
else:
    print('Column "workclass" not found in X_train. Columns available:', list(X_train.columns))

Missing values in X_train["workclass"]: 733

In [53]:
## apply ordinal encoding in the education column
education_order = [
    'Preschool',
    '1st-4th',
    '5th-6th',
    '7th-8th',
    '9th',
    '10th',
    '11th',
    '12th',
    'HS-grad',
    'Some-college',
    'Assoc-voc',
    'Assoc-acdm',
    'Bachelors',
    'Masters',
    'Prof-school',
    'Doctorate'
]

X_train['education'] = pd.Categorical(X_train['education'], categories=education_order, ordered=True)
X_test['education'] = pd.Categorical(X_test['education'], categories=education_order, ordered=True)

# Create a new numerical column from the ordered categorical column (1-indexed to match previous education_map)
X_train['education_encoded'] = X_train['education'].cat.codes + 1
X_test['education_encoded'] = X_test['education'].cat.codes + 1

# Drop the original 'education' and 'education-num' columns as they are now redundant
# use errors='ignore' to avoid KeyError if a column name differs or is already dropped
X_train = X_train.drop(columns=['education', 'education-num'], errors='ignore')
X_test = X_test.drop(columns=['education', 'education-num'], errors='ignore')

In [54]:
## no null values in fnlwgt so this column need no preprocessing

X_train['fnlwgt'].isnull().sum()

np.int64(0)

In [55]:
X_train

,age,workclass,fnlwgt,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,education_encoded
216,50,Private,313321,Divorced,Sales,Not-in-family,White,Female,0,0,40,United-States,12
23617,24,Private,187551,Never-married,Adm-clerical,Own-child,Black,Female,0,0,20,United-States,10
7914,49,Federal-gov,94754,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,14
11599,22,Private,300871,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,10
23434,32,Private,251701,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,?,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13221,47,Self-emp-not-inc,166894,Divorced,Prof-specialty,Unmarried,Black,Female,0,0,40,United-States,10
46614,40,State-gov,132125,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,10
26718,22,Private,176321,Never-married,Other-service,Unmarried,White,Female,0,0,40,Mexico,4
16694,55,Private,213615,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,9
19482,46,Self-emp-not-inc,231347,Separated,Prof-specialty,Not-in-family,White,Male,0,0,20,United-States,10

In [56]:
## check null values in martial status
X_train['marital-status'].isnull().sum()

np.int64(0)

In [57]:
## check unique values in martial status
X_train['marital-status'].unique()

array(['Divorced', 'Never-married', 'Married-civ-spouse',
       'Married-spouse-absent', 'Widowed', 'Separated',
       'Married-AF-spouse'], dtype=object)

In [58]:
## since income is affected only by married or not married so we apply label encoding with 0 to singles and 1 to married(couples) ones
def simplify_marital(x):
    if x in ['Married-civ-spouse', 'Married-AF-spouse']:
        return 1   # Married
    else:
        return 0   # Single

X_train['marital_status'] = X_train['marital-status'].apply(simplify_marital)
X_test['marital_status'] = X_test['marital-status'].apply(simplify_marital)

# Drop the original 'marital-status' column as it's now redundant
X_train = X_train.drop(columns=['marital-status'])
X_test = X_test.drop(columns=['marital-status'])

In [59]:
X_train

,age,workclass,fnlwgt,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,education_encoded,marital_status
216,50,Private,313321,Sales,Not-in-family,White,Female,0,0,40,United-States,12,0
23617,24,Private,187551,Adm-clerical,Own-child,Black,Female,0,0,20,United-States,10,0
7914,49,Federal-gov,94754,Adm-clerical,Husband,White,Male,0,0,40,United-States,14,1
11599,22,Private,300871,Adm-clerical,Own-child,White,Male,0,0,40,United-States,10,0
23434,32,Private,251701,Prof-specialty,Not-in-family,White,Male,0,0,40,?,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13221,47,Self-emp-not-inc,166894,Prof-specialty,Unmarried,Black,Female,0,0,40,United-States,10,0
46614,40,State-gov,132125,Adm-clerical,Husband,White,Male,0,0,40,United-States,10,1
26718,22,Private,176321,Other-service,Unmarried,White,Female,0,0,40,Mexico,4,0
16694,55,Private,213615,Craft-repair,Husband,White,Male,0,0,40,United-States,9,1
19482,46,Self-emp-not-inc,231347,Prof-specialty,Not-in-family,White,Male,0,0,20,United-States,10,0

In [60]:
data.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [61]:
X_train['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Other',
       'Amer-Indian-Eskimo'], dtype=object)

In [62]:
## apply ohe for race

from sklearn.preprocessing import OneHotEncoder

# Initialize OneHotEncoder
ohe_race_train_test = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit on X_train's 'race' column and transform X_train
race_encoded_train = ohe_race_train_test.fit_transform(X_train[['race']])
race_df_train = pd.DataFrame(race_encoded_train, columns=ohe_race_train_test.get_feature_names_out(['race']))
X_train = X_train.reset_index(drop=True)
race_df_train = race_df_train.reset_index(drop=True)
X_train = pd.concat([X_train, race_df_train], axis=1)
X_train = X_train.drop('race', axis=1)

# Transform X_test using the *same* fitted encoder
race_encoded_test = ohe_race_train_test.transform(X_test[['race']])
race_df_test = pd.DataFrame(race_encoded_test, columns=ohe_race_train_test.get_feature_names_out(['race']))
X_test = X_test.reset_index(drop=True)
race_df_test = race_df_test.reset_index(drop=True)
X_test = pd.concat([X_test, race_df_test], axis=1)
X_test = X_test.drop('race', axis=1)

In [63]:
X_train

,age,workclass,fnlwgt,occupation,relationship,sex,capital-gain,capital-loss,hours-per-week,native-country,education_encoded,marital_status,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,50,Private,313321,Sales,Not-in-family,Female,0,0,40,United-States,12,0,0.0,0.0,0.0,0.0,1.0
1,24,Private,187551,Adm-clerical,Own-child,Female,0,0,20,United-States,10,0,0.0,0.0,1.0,0.0,0.0
2,49,Federal-gov,94754,Adm-clerical,Husband,Male,0,0,40,United-States,14,1,0.0,0.0,0.0,0.0,1.0
3,22,Private,300871,Adm-clerical,Own-child,Male,0,0,40,United-States,10,0,0.0,0.0,0.0,0.0,1.0
4,32,Private,251701,Prof-specialty,Not-in-family,Male,0,0,40,?,12,0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36626,47,Self-emp-not-inc,166894,Prof-specialty,Unmarried,Female,0,0,40,United-States,10,0,0.0,0.0,1.0,0.0,0.0
36627,40,State-gov,132125,Adm-clerical,Husband,Male,0,0,40,United-States,10,1,0.0,0.0,0.0,0.0,1.0
36628,22,Private,176321,Other-service,Unmarried,Female,0,0,40,Mexico,4,0,0.0,0.0,0.0,0.0,1.0
36629,55,Private,213615,Craft-repair,Husband,Male,0,0,40,United-States,9,1,0.0,0.0,0.0,0.0,1.0
36630,46,Self-emp-not-inc,231347,Prof-specialty,Not-in-family,Male,0,0,20,United-States,10,0,0.0,0.0,0.0,0.0,1.0

In [64]:
## since we have capture the relationship we have another relationship which is just redundant so drop it
X_train.drop(columns=["relationship"],axis=1,inplace=True)
X_test.drop(columns=["relationship"],axis=1,inplace=True)

In [65]:
X_train

,age,workclass,fnlwgt,occupation,sex,capital-gain,capital-loss,hours-per-week,native-country,education_encoded,marital_status,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,50,Private,313321,Sales,Female,0,0,40,United-States,12,0,0.0,0.0,0.0,0.0,1.0
1,24,Private,187551,Adm-clerical,Female,0,0,20,United-States,10,0,0.0,0.0,1.0,0.0,0.0
2,49,Federal-gov,94754,Adm-clerical,Male,0,0,40,United-States,14,1,0.0,0.0,0.0,0.0,1.0
3,22,Private,300871,Adm-clerical,Male,0,0,40,United-States,10,0,0.0,0.0,0.0,0.0,1.0
4,32,Private,251701,Prof-specialty,Male,0,0,40,?,12,0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36626,47,Self-emp-not-inc,166894,Prof-specialty,Female,0,0,40,United-States,10,0,0.0,0.0,1.0,0.0,0.0
36627,40,State-gov,132125,Adm-clerical,Male,0,0,40,United-States,10,1,0.0,0.0,0.0,0.0,1.0
36628,22,Private,176321,Other-service,Female,0,0,40,Mexico,4,0,0.0,0.0,0.0,0.0,1.0
36629,55,Private,213615,Craft-repair,Male,0,0,40,United-States,9,1,0.0,0.0,0.0,0.0,1.0
36630,46,Self-emp-not-inc,231347,Prof-specialty,Male,0,0,20,United-States,10,0,0.0,0.0,0.0,0.0,1.0

In [66]:
X_train

,age,workclass,fnlwgt,occupation,sex,capital-gain,capital-loss,hours-per-week,native-country,education_encoded,marital_status,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,50,Private,313321,Sales,Female,0,0,40,United-States,12,0,0.0,0.0,0.0,0.0,1.0
1,24,Private,187551,Adm-clerical,Female,0,0,20,United-States,10,0,0.0,0.0,1.0,0.0,0.0
2,49,Federal-gov,94754,Adm-clerical,Male,0,0,40,United-States,14,1,0.0,0.0,0.0,0.0,1.0
3,22,Private,300871,Adm-clerical,Male,0,0,40,United-States,10,0,0.0,0.0,0.0,0.0,1.0
4,32,Private,251701,Prof-specialty,Male,0,0,40,?,12,0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36626,47,Self-emp-not-inc,166894,Prof-specialty,Female,0,0,40,United-States,10,0,0.0,0.0,1.0,0.0,0.0
36627,40,State-gov,132125,Adm-clerical,Male,0,0,40,United-States,10,1,0.0,0.0,0.0,0.0,1.0
36628,22,Private,176321,Other-service,Female,0,0,40,Mexico,4,0,0.0,0.0,0.0,0.0,1.0
36629,55,Private,213615,Craft-repair,Male,0,0,40,United-States,9,1,0.0,0.0,0.0,0.0,1.0
36630,46,Self-emp-not-inc,231347,Prof-specialty,Male,0,0,20,United-States,10,0,0.0,0.0,0.0,0.0,1.0

In [67]:
# apply label encoder for gender/sex (handle both possible column names)
if 'gender' in X_train.columns:
    X_train['gender'] = X_train['gender'].map({'Female': 0, 'Male': 1})
    X_test['gender']  = X_test['gender'].map({'Female': 0, 'Male': 1})
elif 'sex' in X_train.columns:
    # create a unified 'gender' column from 'sex' and drop 'sex'
    X_train['gender'] = X_train['sex'].map({'Female': 0, 'Male': 1})
    X_test['gender']  = X_test['sex'].map({'Female': 0, 'Male': 1})
    X_train = X_train.drop(columns=['sex'])
    X_test  = X_test.drop(columns=['sex'])
else:
    raise KeyError("Neither 'gender' nor 'sex' column found in X_train/X_test.")

In [68]:
X_train

,age,workclass,fnlwgt,occupation,capital-gain,capital-loss,hours-per-week,native-country,education_encoded,marital_status,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender
0,50,Private,313321,Sales,0,0,40,United-States,12,0,0.0,0.0,0.0,0.0,1.0,0
1,24,Private,187551,Adm-clerical,0,0,20,United-States,10,0,0.0,0.0,1.0,0.0,0.0,0
2,49,Federal-gov,94754,Adm-clerical,0,0,40,United-States,14,1,0.0,0.0,0.0,0.0,1.0,1
3,22,Private,300871,Adm-clerical,0,0,40,United-States,10,0,0.0,0.0,0.0,0.0,1.0,1
4,32,Private,251701,Prof-specialty,0,0,40,?,12,0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36626,47,Self-emp-not-inc,166894,Prof-specialty,0,0,40,United-States,10,0,0.0,0.0,1.0,0.0,0.0,0
36627,40,State-gov,132125,Adm-clerical,0,0,40,United-States,10,1,0.0,0.0,0.0,0.0,1.0,1
36628,22,Private,176321,Other-service,0,0,40,Mexico,4,0,0.0,0.0,0.0,0.0,1.0,0
36629,55,Private,213615,Craft-repair,0,0,40,United-States,9,1,0.0,0.0,0.0,0.0,1.0,1
36630,46,Self-emp-not-inc,231347,Prof-specialty,0,0,20,United-States,10,0,0.0,0.0,0.0,0.0,1.0,1

In [69]:
X_test

,age,workclass,fnlwgt,occupation,capital-gain,capital-loss,hours-per-week,native-country,education_encoded,marital_status,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender
0,49,Private,277946,Exec-managerial,0,0,50,United-States,10,1,0.0,0.0,0.0,0.0,1.0,1
1,23,Self-emp-not-inc,149704,Sales,0,0,40,United-States,6,0,0.0,0.0,0.0,0.0,1.0,0
2,53,Self-emp-inc,190762,Exec-managerial,0,0,45,United-States,9,1,0.0,0.0,0.0,0.0,1.0,1
3,19,Private,125938,Other-service,0,0,40,El-Salvador,8,0,0.0,0.0,0.0,0.0,1.0,1
4,36,Local-gov,322770,Prof-specialty,0,1887,40,Jamaica,10,1,0.0,0.0,1.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12206,60,unknown,204486,?,0,0,8,United-States,13,1,0.0,0.0,0.0,0.0,1.0,1
12207,26,Private,195994,Sales,0,0,15,United-States,10,0,0.0,0.0,0.0,0.0,1.0,0
12208,51,Private,165278,Sales,0,0,46,United-States,11,0,0.0,0.0,0.0,0.0,1.0,1
12209,64,State-gov,216160,Prof-specialty,0,0,50,Columbia,16,1,0.0,0.0,0.0,0.0,1.0,1
12210,22,Local-gov,177475,Prof-specialty,0,0,40,United-States,13,0,0.0,0.0,0.0,0.0,1.0,0

In [70]:
X_train.columns

Index(['age', 'workclass', 'fnlwgt', 'occupation', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'education_encoded',
       'marital_status', 'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander',
       'race_Black', 'race_Other', 'race_White', 'gender'],
      dtype='object')

In [71]:
# First, let's see the distribution of 'native-country' in X_train
print("Value counts for 'native-country' in X_train before grouping:")
display(X_train['native-country'].value_counts())

Value counts for 'native-country' in X_train before grouping:

native-country
United-States                 32870
Mexico                          717
?                               445
Philippines                     220
Germany                         158
Canada                          135
Puerto-Rico                     130
El-Salvador                     116
Cuba                            104
India                            99
China                            95
England                          95
South                            84
Japan                            77
Dominican-Republic               75
Italy                            75
Jamaica                          73
Poland                           70
Columbia                         68
Vietnam                          67
Guatemala                        60
Taiwan                           55
Portugal                         54
Haiti                            50
Nicaragua                        41
Iran                             39
Greece                           37
Ecuador                          36
Peru                             33
France                           31
Ireland                          28
Thailand                         25
Cambodia                         24
Trinadad&Tobago                  24
Yugoslavia                       19
Hong                             18
Outlying-US(Guam-USVI-etc)       18
Laos                             17
Honduras                         16
Hungary                          16
Scotland                         16
Holand-Netherlands                1
Name: count, dtype: int64

In [72]:
## replace ? with unknown
X_train['native-country'] = X_train['native-country'].replace('?', "unknown")

# Define a threshold for 'rare' countries (e.g., countries making up less than 1% of the training data)
threshold_percentage = 0.01
threshold_count = len(X_train) * threshold_percentage

# Identify countries to be grouped as 'Other' based on X_train
country_counts_train = X_train['native-country'].value_counts()
rare_countries = country_counts_train[country_counts_train < threshold_count].index.tolist()

# Replace rare countries with 'Other' in both X_train and X_test
X_train['native-country'] = X_train['native-country'].replace(rare_countries, 'Other')
X_test['native-country'] = X_test['native-country'].replace(rare_countries, 'Other')

print("Value counts for 'native-country' in X_train after grouping:")
display(X_train['native-country'].value_counts())
print("\nValue counts for 'native-country' in X_test after grouping:")
display(X_test['native-country'].value_counts())

Value counts for 'native-country' in X_train after grouping:

native-country
United-States    32870
Other             2399
Mexico             717
unknown            445
Name: count, dtype: int64

Value counts for 'native-country' in X_test after grouping:

native-country
United-States    10962
Other              803
Mexico             234
?                  138
Name: count, dtype: int64

In [73]:
from sklearn.preprocessing import OneHotEncoder

# Initialize OneHotEncoder
ohe_native_country = OneHotEncoder(handle_unknown='ignore', sparse_output=False)

# Fit on X_train's 'native-country' column and transform X_train
native_country_encoded_train = ohe_native_country.fit_transform(X_train[['native-country']])
native_country_df_train = pd.DataFrame(native_country_encoded_train, columns=ohe_native_country.get_feature_names_out(['native-country']))
X_train = X_train.reset_index(drop=True)
native_country_df_train = native_country_df_train.reset_index(drop=True)
X_train = pd.concat([X_train, native_country_df_train], axis=1)
X_train = X_train.drop('native-country', axis=1)

# Transform X_test using the *same* fitted encoder
native_country_encoded_test = ohe_native_country.transform(X_test[['native-country']])
native_country_df_test = pd.DataFrame(native_country_encoded_test, columns=ohe_native_country.get_feature_names_out(['native-country']))
X_test = X_test.reset_index(drop=True)
native_country_df_test = native_country_df_test.reset_index(drop=True)
X_test = pd.concat([X_test, native_country_df_test], axis=1)
X_test = X_test.drop('native-country', axis=1)

In [74]:
pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\t6201\anaconda3\lib\site-packages (2.9.0)
Requirement already satisfied: numpy>=1.14.0 in c:\users\t6201\anaconda3\lib\site-packages (from category_encoders) (2.2.1)
Requirement already satisfied: pandas>=1.0.5 in c:\users\t6201\anaconda3\lib\site-packages (from category_encoders) (2.2.3)
Requirement already satisfied: patsy>=0.5.1 in c:\users\t6201\anaconda3\lib\site-packages (from category_encoders) (0.5.6)
Requirement already satisfied: scikit-learn>=1.6.0 in c:\users\t6201\anaconda3\lib\site-packages (from category_encoders) (1.7.2)
Requirement already satisfied: scipy>=1.0.0 in c:\users\t6201\anaconda3\lib\site-packages (from category_encoders) (1.16.2)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\t6201\anaconda3\lib\site-packages (from category_encoders) (0.14.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\t6201\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\t6201\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\t6201\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2024.2)
Requirement already satisfied: six in c:\users\t6201\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\t6201\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\t6201\anaconda3\lib\site-packages (from scikit-learn>=1.6.0->category_encoders) (3.5.0)
Requirement already satisfied: packaging>=21.3 in c:\users\t6201\anaconda3\lib\site-packages (from statsmodels>=0.9.0->category_encoders) (24.2)
Note: you may need to restart the kernel to use updated packages.

In [75]:
# Create a simple target encoding for 'occupation' without importing category_encoders
# Align y_train with X_train
y_train_reset = y_train.reset_index(drop=True)

# Compute global mean (ignore NaNs) and per-occupation means on the training set
tmp = pd.DataFrame({'occupation': X_train['occupation'], 'target': y_train_reset})
global_mean = tmp['target'].mean(skipna=True)
occ_means = tmp.groupby('occupation')['target'].mean().fillna(global_mean)

# Map the learnt means to train and test; fill unseen occupations or NaNs with global_mean
X_train['occupation_encoded'] = X_train['occupation'].map(occ_means).fillna(global_mean)
X_test['occupation_encoded']  = X_test['occupation'].map(occ_means).fillna(global_mean)

# Drop original occupation columns
X_train = X_train.drop(columns=['occupation'])
X_test  = X_test.drop(columns=['occupation'])

In [76]:
print("X_train head after final data preprocessing':")
display(X_train.head())
print("\nX_test head after final preprocessing :")
display(X_test.head())

X_train head after final data preprocessing':

,age,workclass,fnlwgt,capital-gain,capital-loss,hours-per-week,education_encoded,marital_status,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender,native-country_Mexico,native-country_Other,native-country_United-States,native-country_unknown,native-country_nan,occupation_encoded
0,50,Private,313321,0,0,40,12,0,0.0,0.0,0.0,0.0,1.0,0,0.0,0.0,1.0,0.0,0.0,0.268116
1,24,Private,187551,0,0,20,10,0,0.0,0.0,1.0,0.0,0.0,0,0.0,0.0,1.0,0.0,0.0,0.139584
2,49,Federal-gov,94754,0,0,40,14,1,0.0,0.0,0.0,0.0,1.0,1,0.0,0.0,1.0,0.0,0.0,0.139584
3,22,Private,300871,0,0,40,10,0,0.0,0.0,0.0,0.0,1.0,1,0.0,0.0,1.0,0.0,0.0,0.139584
4,32,Private,251701,0,0,40,12,0,0.0,0.0,0.0,0.0,1.0,1,0.0,0.0,0.0,1.0,0.0,0.443730

X_test head after final preprocessing :

,age,workclass,fnlwgt,capital-gain,capital-loss,hours-per-week,education_encoded,marital_status,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,gender,native-country_Mexico,native-country_Other,native-country_United-States,native-country_unknown,native-country_nan,occupation_encoded
0,49,Private,277946,0,0,50,10,1,0.0,0.0,0.0,0.0,1.0,1,0.0,0.0,1.0,0.0,0.0,0.481881
1,23,Self-emp-not-inc,149704,0,0,40,6,0,0.0,0.0,0.0,0.0,1.0,0,0.0,0.0,1.0,0.0,0.0,0.268116
2,53,Self-emp-inc,190762,0,0,45,9,1,0.0,0.0,0.0,0.0,1.0,1,0.0,0.0,1.0,0.0,0.0,0.481881
3,19,Private,125938,0,0,40,8,0,0.0,0.0,0.0,0.0,1.0,1,0.0,1.0,0.0,0.0,0.0,0.039823
4,36,Local-gov,322770,0,1887,40,10,1,0.0,0.0,1.0,0.0,0.0,1,0.0,1.0,0.0,0.0,0.0,0.443730

In [77]:
X_train.columns

Index(['age', 'workclass', 'fnlwgt', 'capital-gain', 'capital-loss',
       'hours-per-week', 'education_encoded', 'marital_status',
       'race_Amer-Indian-Eskimo', 'race_Asian-Pac-Islander', 'race_Black',
       'race_Other', 'race_White', 'gender', 'native-country_Mexico',
       'native-country_Other', 'native-country_United-States',
       'native-country_unknown', 'native-country_nan', 'occupation_encoded'],
      dtype='object')

## MODEL TRAINING

In [78]:
## install the xgboost model
!pip install xgboost

Requirement already satisfied: xgboost in c:\users\t6201\anaconda3\lib\site-packages (3.1.1)
Requirement already satisfied: numpy in c:\users\t6201\anaconda3\lib\site-packages (from xgboost) (2.2.1)
Requirement already satisfied: scipy in c:\users\t6201\anaconda3\lib\site-packages (from xgboost) (1.16.2)

In [79]:
## import the model
import xgboost as xgb

In [80]:
## initialise xgboost classifier
xgb_model = xgb.XGBClassifier(
    n_estimators=500,
    learning_rate=0.1,
    random_state=42,
    early_stopping_rounds=10 ,
    eval_metric="logloss"
)

In [81]:
# Robust label handling, ensure numeric features, and safe xgboost fit
import numpy as np
import pandas as pd
import xgboost as xgb

# Ensure y are Series and aligned with X
y_train = pd.Series(y_train).reset_index(drop=True)
y_test = pd.Series(y_test).reset_index(drop=True)

# Drop rows with missing labels and keep X/Y aligned
mask_train = y_train.notnull()
mask_test  = y_test.notnull()
if not mask_train.all():
    drop_count = (~mask_train).sum()
    print(f'Dropping {drop_count} training rows with missing labels')
    X_train = X_train.loc[mask_train].reset_index(drop=True)
    y_train = y_train.loc[mask_train].reset_index(drop=True)
if not mask_test.all():
    drop_count = (~mask_test).sum()
    print(f'Dropping {drop_count} test rows with missing labels')
    X_test = X_test.loc[mask_test].reset_index(drop=True)
    y_test = y_test.loc[mask_test].reset_index(drop=True)

# Normalize label values to integers (0/1)
def normalize_labels(s):
    s = s.astype(str).str.strip()
    mapping = {'<=50K':'0','<=50k':'0','>50K':'1','>50k':'1','<=50 K':'0','>50 K':'1'}
    mapped = s.map(mapping).fillna(s)
    nums = pd.to_numeric(mapped, errors='coerce')
    if nums.isnull().any():
        bad = pd.Series(s)[nums.isnull()].unique()
        print('Could not convert these label values to numeric:', bad)
        raise ValueError('Non-convertible label values found')
    return nums.astype(int)

y_train = normalize_labels(y_train)
y_test  = normalize_labels(y_test)

print('Final unique classes in y_train:', np.unique(y_train))
print('Final unique classes in y_test :', np.unique(y_test))

# Convert any remaining object/categorical columns to numeric via one-hot encoding
X_train_enc = pd.get_dummies(X_train, dummy_na=False)
X_test_enc  = pd.get_dummies(X_test,  dummy_na=False)

# Align train/test columns (add missing columns with zeros)
X_train_enc, X_test_enc = X_train_enc.align(X_test_enc, join='outer', axis=1, fill_value=0)

# Ensure numeric dtypes (float) for xgboost
X_train = X_train_enc.astype(float).reset_index(drop=True)
X_test  = X_test_enc.astype(float).reset_index(drop=True)

print("X_train shape, X_test shape:", X_train.shape, X_test.shape)
print("Some dtypes (head):\n", X_train.dtypes.head())

# Re-create classifier (avoid stale attributes)
xgb_model = xgb.XGBClassifier(
    n_estimators=500,
    learning_rate=0.1,
    random_state=42,
    use_label_encoder=False,
    eval_metric='logloss'
)

# Try to build a callbacks list if available
callbacks = None
try:
    callbacks = [xgb.callback.EarlyStopping(rounds=10, save_best=True)]
except Exception:
    callbacks = None

# Fit model: try with callbacks first, fall back to fit without callbacks
if callbacks is not None:
    try:
        xgb_model.fit(X_train, y_train, eval_set=[(X_test, y_test)], callbacks=callbacks, verbose=True)
        print('Training completed successfully (with callbacks)')
    except TypeError as e:
        # older/newer xgboost may not accept callbacks param
        print('Callbacks not accepted by this XGBoost build:', e)
        print('Falling back to fit without callbacks...')
        xgb_model.fit(X_train, y_train, eval_set=[(X_test, y_test)], verbose=True)
        print('Training completed (without callbacks)')
else:
    xgb_model.fit(X_train, y_train, eval_set=[(X_test, y_test)], verbose=True)
    print('Training completed (no callbacks available)')

Dropping 12223 training rows with missing labels
Dropping 4058 test rows with missing labels
Final unique classes in y_train: [0 1]
Final unique classes in y_test : [0 1]
X_train shape, X_test shape: (24408, 28) (8153, 28)
Some dtypes (head):
 age               float64
fnlwgt            float64
capital-gain      float64
capital-loss      float64
hours-per-week    float64
dtype: object
Callbacks not accepted by this XGBoost build: XGBClassifier.fit() got an unexpected keyword argument 'callbacks'
Falling back to fit without callbacks...
[0]	validation_0-logloss:0.51113
[1]	validation_0-logloss:0.48030
[0]	validation_0-logloss:0.51113
[1]	validation_0-logloss:0.48030
[2]	validation_0-logloss:0.45513
[3]	validation_0-logloss:0.43499
[2]	validation_0-logloss:0.45513
[3]	validation_0-logloss:0.43499
[4]	validation_0-logloss:0.41706
[5]	validation_0-logloss:0.40235
[4]	validation_0-logloss:0.41706
[5]	validation_0-logloss:0.40235
[6]	validation_0-logloss:0.38934
[7]	validation_0-logloss:0.37835
[6]	validation_0-logloss:0.38934
[7]	validation_0-logloss:0.37835
[8]	validation_0-logloss:0.36847
[9]	validation_0-logloss:0.36064
[10]	validation_0-logloss:0.35329
[8]	validation_0-logloss:0.36847
[9]	validation_0-logloss:0.36064
[10]	validation_0-logloss:0.35329
[11]	validation_0-logloss:0.34680
[12]	validation_0-logloss:0.34105
[13]	validation_0-logloss:0.33569
[11]	validation_0-logloss:0.34680
[12]	validation_0-logloss:0.34105
[13]	validation_0-logloss:0.33569
[14]	validation_0-logloss:0.33106
[15]	validation_0-logloss:0.32697
[16]	validation_0-logloss:0.32344
[14]	validation_0-logloss:0.33106
[15]	validation_0-logloss:0.32697
[16]	validation_0-logloss:0.32344
[17]	validation_0-logloss:0.32003
[18]	validation_0-logloss:0.31719
[17]	validation_0-logloss:0.32003
[18]	validation_0-logloss:0.31719

c:\Users\t6201\anaconda3\Lib\site-packages\xgboost\training.py:199: UserWarning: [09:40:16] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:790:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

[19]	validation_0-logloss:0.31462
[20]	validation_0-logloss:0.31257
[21]	validation_0-logloss:0.31066
[22]	validation_0-logloss:0.30873
[23]	validation_0-logloss:0.30703
[20]	validation_0-logloss:0.31257
[21]	validation_0-logloss:0.31066
[22]	validation_0-logloss:0.30873
[23]	validation_0-logloss:0.30703
[24]	validation_0-logloss:0.30557
[25]	validation_0-logloss:0.30434
[26]	validation_0-logloss:0.30310
[24]	validation_0-logloss:0.30557
[25]	validation_0-logloss:0.30434
[26]	validation_0-logloss:0.30310
[27]	validation_0-logloss:0.30206
[28]	validation_0-logloss:0.30106
[29]	validation_0-logloss:0.30000
[27]	validation_0-logloss:0.30206
[28]	validation_0-logloss:0.30106
[29]	validation_0-logloss:0.30000
[30]	validation_0-logloss:0.29905
[31]	validation_0-logloss:0.29815
[32]	validation_0-logloss:0.29745
[30]	validation_0-logloss:0.29905
[31]	validation_0-logloss:0.29815
[32]	validation_0-logloss:0.29745
[33]	validation_0-logloss:0.29607
[34]	validation_0-logloss:0.29533
[35]	validation_0-logloss:0.29466
[36]	validation_0-logloss:0.29389
[33]	validation_0-logloss:0.29607
[34]	validation_0-logloss:0.29533
[35]	validation_0-logloss:0.29466
[36]	validation_0-logloss:0.29389
[37]	validation_0-logloss:0.29336
[38]	validation_0-logloss:0.29274
[39]	validation_0-logloss:0.29241
[40]	validation_0-logloss:0.29198
[37]	validation_0-logloss:0.29336
[38]	validation_0-logloss:0.29274
[39]	validation_0-logloss:0.29241
[40]	validation_0-logloss:0.29198
[41]	validation_0-logloss:0.29103
[42]	validation_0-logloss:0.29063
[43]	validation_0-logloss:0.28988
[44]	validation_0-logloss:0.28964
[41]	validation_0-logloss:0.29103
[42]	validation_0-logloss:0.29063
[43]	validation_0-logloss:0.28988
[44]	validation_0-logloss:0.28964
[45]	validation_0-logloss:0.28920
[46]	validation_0-logloss:0.28885
[47]	validation_0-logloss:0.28866
[45]	validation_0-logloss:0.28920
[46]	validation_0-logloss:0.28885
[47]	validation_0-logloss:0.28866
[48]	validation_0-logloss:0.28844
[49]	validation_0-logloss:0.28812
[50]	validation_0-logloss:0.28736
[51]	validation_0-logloss:0.28693
[52]	validation_0-logloss:0.28677
[48]	validation_0-logloss:0.28844
[49]	validation_0-logloss:0.28812
[50]	validation_0-logloss:0.28736
[51]	validation_0-logloss:0.28693
[52]	validation_0-logloss:0.28677
[53]	validation_0-logloss:0.28661
[54]	validation_0-logloss:0.28601
[55]	validation_0-logloss:0.28556
[56]	validation_0-logloss:0.28537
[53]	validation_0-logloss:0.28661
[54]	validation_0-logloss:0.28601
[55]	validation_0-logloss:0.28556
[56]	validation_0-logloss:0.28537
[57]	validation_0-logloss:0.28496
[58]	validation_0-logloss:0.28502
[59]	validation_0-logloss:0.28473
[60]	validation_0-logloss:0.28459
[61]	validation_0-logloss:0.28444
[57]	validation_0-logloss:0.28496
[58]	validation_0-logloss:0.28502
[59]	validation_0-logloss:0.28473
[60]	validation_0-logloss:0.28459
[61]	validation_0-logloss:0.28444
[62]	validation_0-logloss:0.28413
[63]	validation_0-logloss:0.28366
[64]	validation_0-logloss:0.28348
[65]	validation_0-logloss:0.28307
[62]	validation_0-logloss:0.28413
[63]	validation_0-logloss:0.28366
[64]	validation_0-logloss:0.28348
[65]	validation_0-logloss:0.28307
[66]	validation_0-logloss:0.28300
[67]	validation_0-logloss:0.28263
[68]	validation_0-logloss:0.28247
[69]	validation_0-logloss:0.28232
[66]	validation_0-logloss:0.28300
[67]	validation_0-logloss:0.28263
[68]	validation_0-logloss:0.28247
[69]	validation_0-logloss:0.28232
[70]	validation_0-logloss:0.28198
[71]	validation_0-logloss:0.28175
[72]	validation_0-logloss:0.28145
[73]	validation_0-logloss:0.28150
[70]	validation_0-logloss:0.28198
[71]	validation_0-logloss:0.28175
[72]	validation_0-logloss:0.28145
[73]	validation_0-logloss:0.28150
[74]	validation_0-logloss:0.28126
[75]	validation_0-logloss:0.28106
[76]	validation_0-logloss:0.28100
[77]	validation_0-logloss:0.28091
[78]	validation_0-logloss:0.28069
[74]	validation_0-logloss:0.28126
[75]	validation_0-logloss:0.28106
[76]	validation_0-logloss:0.28100
[77]	validation_0-logloss:0.28091
[78]	validation_0-logloss:0.28069
[79]	validation_0-logloss:0.28050
[80]	validation_0-logloss:0.28042
[81]	validation_0-logloss:0.28021
[82]	validation_0-logloss:0.28022
[83]	validation_0-logloss:0.28007
[79]	validation_0-logloss:0.28050
[80]	validation_0-logloss:0.28042
[81]	validation_0-logloss:0.28021
[82]	validation_0-logloss:0.28022
[83]	validation_0-logloss:0.28007
[84]	validation_0-logloss:0.28009
[84]	validation_0-logloss:0.28009
[85]	validation_0-logloss:0.28005
[86]	validation_0-logloss:0.27996
[87]	validation_0-logloss:0.27996
[88]	validation_0-logloss:0.27983
[85]	validation_0-logloss:0.28005
[86]	validation_0-logloss:0.27996
[87]	validation_0-logloss:0.27996
[88]	validation_0-logloss:0.27983
[89]	validation_0-logloss:0.27984
[90]	validation_0-logloss:0.27979
[91]	validation_0-logloss:0.27972
[92]	validation_0-logloss:0.27959
[89]	validation_0-logloss:0.27984
[90]	validation_0-logloss:0.27979
[91]	validation_0-logloss:0.27972
[92]	validation_0-logloss:0.27959
[93]	validation_0-logloss:0.27947
[94]	validation_0-logloss:0.27933
[95]	validation_0-logloss:0.27938
[93]	validation_0-logloss:0.27947
[94]	validation_0-logloss:0.27933
[95]	validation_0-logloss:0.27938
[96]	validation_0-logloss:0.27941
[97]	validation_0-logloss:0.27922
[98]	validation_0-logloss:0.27915
[99]	validation_0-logloss:0.27918
[100]	validation_0-logloss:0.27910
[101]	validation_0-logloss:0.27909
[96]	validation_0-logloss:0.27941
[97]	validation_0-logloss:0.27922
[98]	validation_0-logloss:0.27915
[99]	validation_0-logloss:0.27918
[100]	validation_0-logloss:0.27910
[101]	validation_0-logloss:0.27909
[102]	validation_0-logloss:0.27911
[103]	validation_0-logloss:0.27913
[104]	validation_0-logloss:0.27905
[105]	validation_0-logloss:0.27897
[102]	validation_0-logloss:0.27911
[103]	validation_0-logloss:0.27913
[104]	validation_0-logloss:0.27905
[105]	validation_0-logloss:0.27897
[106]	validation_0-logloss:0.27891
[107]	validation_0-logloss:0.27887
[108]	validation_0-logloss:0.27886
[109]	validation_0-logloss:0.27887
[106]	validation_0-logloss:0.27891
[107]	validation_0-logloss:0.27887
[108]	validation_0-logloss:0.27886
[109]	validation_0-logloss:0.27887
[110]	validation_0-logloss:0.27879
[111]	validation_0-logloss:0.27880
[112]	validation_0-logloss:0.27882
[113]	validation_0-logloss:0.27876
[110]	validation_0-logloss:0.27879
[111]	validation_0-logloss:0.27880
[112]	validation_0-logloss:0.27882
[113]	validation_0-logloss:0.27876
[114]	validation_0-logloss:0.27881
[115]	validation_0-logloss:0.27895
[116]	validation_0-logloss:0.27896
[117]	validation_0-logloss:0.27894
[114]	validation_0-logloss:0.27881
[115]	validation_0-logloss:0.27895
[116]	validation_0-logloss:0.27896
[117]	validation_0-logloss:0.27894
[118]	validation_0-logloss:0.27871
[119]	validation_0-logloss:0.27875
[120]	validation_0-logloss:0.27878
[121]	validation_0-logloss:0.27876
[122]	validation_0-logloss:0.27873
[123]	validation_0-logloss:0.27875
[118]	validation_0-logloss:0.27871
[119]	validation_0-logloss:0.27875
[120]	validation_0-logloss:0.27878
[121]	validation_0-logloss:0.27876
[122]	validation_0-logloss:0.27873
[123]	validation_0-logloss:0.27875
[124]	validation_0-logloss:0.27868
[125]	validation_0-logloss:0.27877
[126]	validation_0-logloss:0.27885
[127]	validation_0-logloss:0.27877
[124]	validation_0-logloss:0.27868
[125]	validation_0-logloss:0.27877
[126]	validation_0-logloss:0.27885
[127]	validation_0-logloss:0.27877
[128]	validation_0-logloss:0.27886
[129]	validation_0-logloss:0.27886
[130]	validation_0-logloss:0.27868
[131]	validation_0-logloss:0.27874
[132]	validation_0-logloss:0.27873
[128]	validation_0-logloss:0.27886
[129]	validation_0-logloss:0.27886
[130]	validation_0-logloss:0.27868
[131]	validation_0-logloss:0.27874
[132]	validation_0-logloss:0.27873
[133]	validation_0-logloss:0.27871
[134]	validation_0-logloss:0.27888
[135]	validation_0-logloss:0.27889
[136]	validation_0-logloss:0.27890
[133]	validation_0-logloss:0.27871
[134]	validation_0-logloss:0.27888
[135]	validation_0-logloss:0.27889
[136]	validation_0-logloss:0.27890
[137]	validation_0-logloss:0.27893
[138]	validation_0-logloss:0.27901
[139]	validation_0-logloss:0.27905
[140]	validation_0-logloss:0.27893
[137]	validation_0-logloss:0.27893
[138]	validation_0-logloss:0.27901
[139]	validation_0-logloss:0.27905
[140]	validation_0-logloss:0.27893
[141]	validation_0-logloss:0.27890
[142]	validation_0-logloss:0.27877
[143]	validation_0-logloss:0.27872
[144]	validation_0-logloss:0.27868
[145]	validation_0-logloss:0.27869
[141]	validation_0-logloss:0.27890
[142]	validation_0-logloss:0.27877
[143]	validation_0-logloss:0.27872
[144]	validation_0-logloss:0.27868
[145]	validation_0-logloss:0.27869
[146]	validation_0-logloss:0.27874
[147]	validation_0-logloss:0.27871
[148]	validation_0-logloss:0.27880
[149]	validation_0-logloss:0.27875
[146]	validation_0-logloss:0.27874
[147]	validation_0-logloss:0.27871
[148]	validation_0-logloss:0.27880
[149]	validation_0-logloss:0.27875
[150]	validation_0-logloss:0.27881
[151]	validation_0-logloss:0.27876
[152]	validation_0-logloss:0.27878
[153]	validation_0-logloss:0.27876
[154]	validation_0-logloss:0.27886
[150]	validation_0-logloss:0.27881
[151]	validation_0-logloss:0.27876
[152]	validation_0-logloss:0.27878
[153]	validation_0-logloss:0.27876
[154]	validation_0-logloss:0.27886
[155]	validation_0-logloss:0.27896
[156]	validation_0-logloss:0.27897
[157]	validation_0-logloss:0.27893
[158]	validation_0-logloss:0.27897
[155]	validation_0-logloss:0.27896
[156]	validation_0-logloss:0.27897
[157]	validation_0-logloss:0.27893
[158]	validation_0-logloss:0.27897
[159]	validation_0-logloss:0.27899
[160]	validation_0-logloss:0.27890
[161]	validation_0-logloss:0.27891
[162]	validation_0-logloss:0.27902
[159]	validation_0-logloss:0.27899
[160]	validation_0-logloss:0.27890
[161]	validation_0-logloss:0.27891
[162]	validation_0-logloss:0.27902
[163]	validation_0-logloss:0.27898
[164]	validation_0-logloss:0.27902
[165]	validation_0-logloss:0.27921
[166]	validation_0-logloss:0.27935
[163]	validation_0-logloss:0.27898
[164]	validation_0-logloss:0.27902
[165]	validation_0-logloss:0.27921
[166]	validation_0-logloss:0.27935
[167]	validation_0-logloss:0.27941
[168]	validation_0-logloss:0.27936
[169]	validation_0-logloss:0.27938
[170]	validation_0-logloss:0.27935
[167]	validation_0-logloss:0.27941
[168]	validation_0-logloss:0.27936
[169]	validation_0-logloss:0.27938
[170]	validation_0-logloss:0.27935
[171]	validation_0-logloss:0.27927
[172]	validation_0-logloss:0.27925
[173]	validation_0-logloss:0.27923
[174]	validation_0-logloss:0.27922
[171]	validation_0-logloss:0.27927
[172]	validation_0-logloss:0.27925
[173]	validation_0-logloss:0.27923
[174]	validation_0-logloss:0.27922
[175]	validation_0-logloss:0.27924
[176]	validation_0-logloss:0.27931
[177]	validation_0-logloss:0.27944
[178]	validation_0-logloss:0.27956
[179]	validation_0-logloss:0.27961
[175]	validation_0-logloss:0.27924
[176]	validation_0-logloss:0.27931
[177]	validation_0-logloss:0.27944
[178]	validation_0-logloss:0.27956
[179]	validation_0-logloss:0.27961
[180]	validation_0-logloss:0.27959
[181]	validation_0-logloss:0.27958
[182]	validation_0-logloss:0.27950
[183]	validation_0-logloss:0.27948[180]	validation_0-logloss:0.27959
[181]	validation_0-logloss:0.27958
[182]	validation_0-logloss:0.27950
[183]	validation_0-logloss:0.27948
[184]	validation_0-logloss:0.27950
[185]	validation_0-logloss:0.27948
[186]	validation_0-logloss:0.27951
[187]	validation_0-logloss:0.27958

[184]	validation_0-logloss:0.27950
[185]	validation_0-logloss:0.27948
[186]	validation_0-logloss:0.27951
[187]	validation_0-logloss:0.27958
[188]	validation_0-logloss:0.27966
[189]	validation_0-logloss:0.27975
[190]	validation_0-logloss:0.27987
[188]	validation_0-logloss:0.27966
[189]	validation_0-logloss:0.27975
[190]	validation_0-logloss:0.27987
[191]	validation_0-logloss:0.27977
[191]	validation_0-logloss:0.27977
[192]	validation_0-logloss:0.27970
[193]	validation_0-logloss:0.27971
[192]	validation_0-logloss:0.27970
[193]	validation_0-logloss:0.27971
[194]	validation_0-logloss:0.27971
[195]	validation_0-logloss:0.27976
[194]	validation_0-logloss:0.27971
[195]	validation_0-logloss:0.27976
[196]	validation_0-logloss:0.27988
[196]	validation_0-logloss:0.27988
[197]	validation_0-logloss:0.27981
[198]	validation_0-logloss:0.27967
[197]	validation_0-logloss:0.27981
[198]	validation_0-logloss:0.27967
[199]	validation_0-logloss:0.27973
[199]	validation_0-logloss:0.27973
[200]	validation_0-logloss:0.27986
[200]	validation_0-logloss:0.27986
[201]	validation_0-logloss:0.27986
[202]	validation_0-logloss:0.27980
[203]	validation_0-logloss:0.27982
[201]	validation_0-logloss:0.27986
[202]	validation_0-logloss:0.27980
[203]	validation_0-logloss:0.27982
[204]	validation_0-logloss:0.27984
[204]	validation_0-logloss:0.27984
[205]	validation_0-logloss:0.27993
[206]	validation_0-logloss:0.28000
[207]	validation_0-logloss:0.28007
[205]	validation_0-logloss:0.27993
[206]	validation_0-logloss:0.28000
[207]	validation_0-logloss:0.28007
[208]	validation_0-logloss:0.28005
[208]	validation_0-logloss:0.28005
[209]	validation_0-logloss:0.28003
[210]	validation_0-logloss:0.28001
[209]	validation_0-logloss:0.28003
[210]	validation_0-logloss:0.28001
[211]	validation_0-logloss:0.28005
[211]	validation_0-logloss:0.28005
[212]	validation_0-logloss:0.28001
[213]	validation_0-logloss:0.28000
[214]	validation_0-logloss:0.27995
[212]	validation_0-logloss:0.28001
[213]	validation_0-logloss:0.28000
[214]	validation_0-logloss:0.27995
[215]	validation_0-logloss:0.28002
[216]	validation_0-logloss:0.28002
[217]	validation_0-logloss:0.28003
[218]	validation_0-logloss:0.28002
[215]	validation_0-logloss:0.28002
[216]	validation_0-logloss:0.28002
[217]	validation_0-logloss:0.28003
[218]	validation_0-logloss:0.28002
[219]	validation_0-logloss:0.27999
[220]	validation_0-logloss:0.28001
[219]	validation_0-logloss:0.27999
[220]	validation_0-logloss:0.28001
[221]	validation_0-logloss:0.28006
[222]	validation_0-logloss:0.28010
[223]	validation_0-logloss:0.28009
[224]	validation_0-logloss:0.28022
[221]	validation_0-logloss:0.28006
[222]	validation_0-logloss:0.28010
[223]	validation_0-logloss:0.28009
[224]	validation_0-logloss:0.28022
[225]	validation_0-logloss:0.28022
[226]	validation_0-logloss:0.28023
[227]	validation_0-logloss:0.28027
[225]	validation_0-logloss:0.28022
[226]	validation_0-logloss:0.28023
[227]	validation_0-logloss:0.28027
[228]	validation_0-logloss:0.28030
[229]	validation_0-logloss:0.28030
[230]	validation_0-logloss:0.28032
[228]	validation_0-logloss:0.28030
[229]	validation_0-logloss:0.28030
[230]	validation_0-logloss:0.28032
[231]	validation_0-logloss:0.28035
[232]	validation_0-logloss:0.28029
[233]	validation_0-logloss:0.28033
[231]	validation_0-logloss:0.28035
[232]	validation_0-logloss:0.28029
[233]	validation_0-logloss:0.28033
[234]	validation_0-logloss:0.28034
[235]	validation_0-logloss:0.28040
[236]	validation_0-logloss:0.28041
[234]	validation_0-logloss:0.28034
[235]	validation_0-logloss:0.28040
[236]	validation_0-logloss:0.28041
[237]	validation_0-logloss:0.28043
[238]	validation_0-logloss:0.28042
[239]	validation_0-logloss:0.28047
[237]	validation_0-logloss:0.28043
[238]	validation_0-logloss:0.28042
[239]	validation_0-logloss:0.28047
[240]	validation_0-logloss:0.28048
[241]	validation_0-logloss:0.28042
[242]	validation_0-logloss:0.28042
[240]	validation_0-logloss:0.28048
[241]	validation_0-logloss:0.28042
[242]	validation_0-logloss:0.28042
[243]	validation_0-logloss:0.28044
[244]	validation_0-logloss:0.28064
[245]	validation_0-logloss:0.28063[243]	validation_0-logloss:0.28044
[244]	validation_0-logloss:0.28064
[245]	validation_0-logloss:0.28063

[246]	validation_0-logloss:0.28066
[247]	validation_0-logloss:0.28064
[246]	validation_0-logloss:0.28066
[247]	validation_0-logloss:0.28064
[248]	validation_0-logloss:0.28076
[249]	validation_0-logloss:0.28083
[248]	validation_0-logloss:0.28076
[249]	validation_0-logloss:0.28083
[250]	validation_0-logloss:0.28091
[251]	validation_0-logloss:0.28103
[250]	validation_0-logloss:0.28091
[251]	validation_0-logloss:0.28103
[252]	validation_0-logloss:0.28111
[253]	validation_0-logloss:0.28112
[254]	validation_0-logloss:0.28119
[255]	validation_0-logloss:0.28128
[256]	validation_0-logloss:0.28127
[257]	validation_0-logloss:0.28127
[258]	validation_0-logloss:0.28126
[259]	validation_0-logloss:0.28130
[260]	validation_0-logloss:0.28131
[261]	validation_0-logloss:0.28134
[262]	validation_0-logloss:0.28134
[263]	validation_0-logloss:0.28138
[264]	validation_0-logloss:0.28147
[265]	validation_0-logloss:0.28142
[266]	validation_0-logloss:0.28137
[267]	validation_0-logloss:0.28135
[268]	validation_0-logloss:0.28137
[269]	validation_0-logloss:0.28139
[270]	validation_0-logloss:0.28155
[271]	validation_0-logloss:0.28155
[272]	validation_0-logloss:0.28165
[273]	validation_0-logloss:0.28171
[274]	validation_0-logloss:0.28175
[275]	validation_0-logloss:0.28183
[276]	validation_0-logloss:0.28181
[277]	validation_0-logloss:0.28188
[252]	validation_0-logloss:0.28111
[253]	validation_0-logloss:0.28112
[254]	validation_0-logloss:0.28119
[255]	validation_0-logloss:0.28128
[256]	validation_0-logloss:0.28127
[257]	validation_0-logloss:0.28127
[258]	validation_0-logloss:0.28126
[259]	validation_0-logloss:0.28130
[260]	validation_0-logloss:0.28131
[261]	validation_0-logloss:0.28134
[262]	validation_0-logloss:0.28134
[263]	validation_0-logloss:0.28138
[264]	validation_0-logloss:0.28147
[265]	validation_0-logloss:0.28142
[266]	validation_0-logloss:0.28137
[267]	validation_0-logloss:0.28135
[268]	validation_0-logloss:0.28137
[269]	validation_0-logloss:0.28139
[270]	validation_0-logloss:0.28155
[271]	validation_0-logloss:0.28155
[272]	validation_0-logloss:0.28165
[273]	validation_0-logloss:0.28171
[274]	validation_0-logloss:0.28175
[275]	validation_0-logloss:0.28183
[276]	validation_0-logloss:0.28181
[277]	validation_0-logloss:0.28188
[278]	validation_0-logloss:0.28190
[279]	validation_0-logloss:0.28190
[280]	validation_0-logloss:0.28187
[281]	validation_0-logloss:0.28184
[278]	validation_0-logloss:0.28190
[279]	validation_0-logloss:0.28190
[280]	validation_0-logloss:0.28187
[281]	validation_0-logloss:0.28184
[282]	validation_0-logloss:0.28189
[283]	validation_0-logloss:0.28192
[284]	validation_0-logloss:0.28185
[285]	validation_0-logloss:0.28188
[282]	validation_0-logloss:0.28189
[283]	validation_0-logloss:0.28192
[284]	validation_0-logloss:0.28185
[285]	validation_0-logloss:0.28188
[286]	validation_0-logloss:0.28185
[287]	validation_0-logloss:0.28182
[288]	validation_0-logloss:0.28180
[289]	validation_0-logloss:0.28183
[290]	validation_0-logloss:0.28185
[286]	validation_0-logloss:0.28185
[287]	validation_0-logloss:0.28182
[288]	validation_0-logloss:0.28180
[289]	validation_0-logloss:0.28183
[290]	validation_0-logloss:0.28185
[291]	validation_0-logloss:0.28186
[292]	validation_0-logloss:0.28193
[293]	validation_0-logloss:0.28202
[291]	validation_0-logloss:0.28186
[292]	validation_0-logloss:0.28193
[293]	validation_0-logloss:0.28202
[294]	validation_0-logloss:0.28203
[295]	validation_0-logloss:0.28204
[296]	validation_0-logloss:0.28216
[294]	validation_0-logloss:0.28203
[295]	validation_0-logloss:0.28204
[296]	validation_0-logloss:0.28216
[297]	validation_0-logloss:0.28217
[298]	validation_0-logloss:0.28219
[299]	validation_0-logloss:0.28220
[300]	validation_0-logloss:0.28217
[297]	validation_0-logloss:0.28217
[298]	validation_0-logloss:0.28219
[299]	validation_0-logloss:0.28220
[300]	validation_0-logloss:0.28217
[301]	validation_0-logloss:0.28220
[302]	validation_0-logloss:0.28222
[303]	validation_0-logloss:0.28231
[304]	validation_0-logloss:0.28231
[305]	validation_0-logloss:0.28230
[301]	validation_0-logloss:0.28220
[302]	validation_0-logloss:0.28222
[303]	validation_0-logloss:0.28231
[304]	validation_0-logloss:0.28231
[305]	validation_0-logloss:0.28230
[306]	validation_0-logloss:0.28233
[307]	validation_0-logloss:0.28250
[308]	validation_0-logloss:0.28246

In [82]:
# Make predictions on the training data
y_train_pred = xgb_model.predict(X_train)

# Make predictions on the test data
y_test_pred = xgb_model.predict(X_test)

In [83]:
from sklearn.metrics import accuracy_score

# Calculate training accuracy
train_accuracy = accuracy_score(y_train, y_train_pred)

# Calculate testing accuracy
test_accuracy = accuracy_score(y_test, y_test_pred)

# Print the results
print(f"Training Accuracy: {train_accuracy:.4f}")
print(f"Testing Accuracy: {test_accuracy:.4f}")

Training Accuracy: 0.9181
Testing Accuracy: 0.8715

## HYPERPARAMETER TUNING

In [84]:
from sklearn.model_selection import GridSearchCV

In [85]:
param_grid = {
    'n_estimators': [100, 200, 300],
    'learning_rate': [0.01, 0.1, 0.2],
    'max_depth': [3, 5, 7]
}
print("Hyperparameter grid defined:")
print(param_grid)

Hyperparameter grid defined:
{'n_estimators': [100, 200, 300], 'learning_rate': [0.01, 0.1, 0.2], 'max_depth': [3, 5, 7]}

In [86]:
xgb_model_for_grid = xgb.XGBClassifier(random_state=42, eval_metric="logloss", use_label_encoder=False)

grid_search = GridSearchCV(
    estimator=xgb_model_for_grid,
    param_grid=param_grid,
    scoring='accuracy',
    cv=3,
    verbose=1,
    n_jobs=-1
)

print("GridSearchCV initialized with the XGBoost model and hyperparameter grid.")

GridSearchCV initialized with the XGBoost model and hyperparameter grid.

In [87]:
print("Fitting GridSearchCV to the training data...")
grid_search.fit(X_train, y_train)
print("GridSearchCV fitting complete.")

Fitting GridSearchCV to the training data...
Fitting 3 folds for each of 27 candidates, totalling 81 fits

c:\Users\t6201\anaconda3\Lib\site-packages\xgboost\training.py:199: UserWarning: [09:40:30] WARNING: C:\actions-runner\_work\xgboost\xgboost\src\learner.cc:790:
Parameters: { "use_label_encoder" } are not used.

  bst.update(dtrain, iteration=i, fobj=obj)

GridSearchCV fitting complete.

In [88]:
print("Best parameters found: ", grid_search.best_params_)
print("Best accuracy score: ", grid_search.best_score_)

Best parameters found:  {'learning_rate': 0.2, 'max_depth': 3, 'n_estimators': 200}
Best accuracy score:  0.8713946247132087

In [89]:
import joblib

# Get the best parameters from grid_search
best_params = grid_search.best_params_

# Initialize a new XGBoost model with the best parameters
best_model = xgb.XGBClassifier(
    n_estimators=best_params['n_estimators'],
    learning_rate=best_params['learning_rate'],
    max_depth=best_params['max_depth'],
    random_state=42, # Ensure reproducibility
    eval_metric="logloss" # Use the same eval_metric as during tuning
)

# Train the best model on the full training data
print("Training the best XGBoost model...")
best_model.fit(X_train, y_train)
print("Best XGBoost model trained successfully.")

# Save the best model
model_filename = 'best_xgboost_model.joblib'
joblib.dump(best_model, model_filename)
print(f"Best XGBoost model saved as {model_filename}")

Training the best XGBoost model...
Best XGBoost model trained successfully.
Best XGBoost model saved as best_xgboost_model.joblib
Best XGBoost model trained successfully.
Best XGBoost model saved as best_xgboost_model.joblib

In [90]:
from sklearn.metrics import accuracy_score

# Make predictions on the training data using the best model
y_train_pred_best = best_model.predict(X_train)

# Make predictions on the test data using the best model
y_test_pred_best = best_model.predict(X_test)

# Calculate training accuracy
train_accuracy_best = accuracy_score(y_train, y_train_pred_best)

# Calculate testing accuracy
test_accuracy_best = accuracy_score(y_test, y_test_pred_best)

# Print the results
print(f"Best Model Training Accuracy: {train_accuracy_best:.4f}")
print(f"Best Model Testing Accuracy: {test_accuracy_best:.4f}")

Best Model Training Accuracy: 0.8805
Best Model Testing Accuracy: 0.8756